body {
  font-family: 'Droid Sans', sans-serif;
}

.header {
  font-family: 'Droid Serif', serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p, .text {
  font-size: 14px;
  line-height: 18px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.active {
  font-weight: bold;
}
