.app,
.default-theme {
  --link: #1240AB;
  --hover: #628AE7;
  --primary-bg: #f5f5f5;
  
  --text-color: #333;
  --accent: #FFAA00;
  --accent-hover: #FFC85B;
}

/* 1240AB  214494  0B318A  628AE7  9CB3E7
   FFAA00  DC9D1E  CF8A00  FFC85B  FFE0A3 */
