.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: var(--text-color);
  background: var(--primary-bg);
}

.app a {
  color: var(--link);
}

.app a:hover {
  color: var(--hover);
}

/** App Header **/
.app-header {
  padding: 10px;
  box-shadow: 0 -1px 3px 3px rgba(34, 34, 34, .4);
  color: var(--primary-bg);
  background: var(--link);
  z-index: 1;
  text-align: center;
}

.app-footer {
  padding: 5px;
}

.app-main {
  padding: 40px 20px 0 20px;
  flex: 1;
  margin: 0 auto;
  position: relative;
  min-width: 414px;
}
