.resume-header {
  border-bottom: 1px solid #222;
  margin-bottom: 20px;
  position: relative;
}

.resume-header .contact {
  padding: 5px 0;
}

.resume-header .contact span:last-child {
  font-weight: bold;
}

.resume-header .icons {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.resume-header .icons a {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.resume-header .icons a img {
  display: block;
  width: 100%;
}

.resume-body p {
  margin-bottom: 20px;
}

.resume-body h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
